<div class='bg-image-user'>
  <div class='bg-mask'>
    <div class='space'>
      <div class="box">
        <div class="box-inner">
          <h2>EnLife</h2> 
          <hr class="border-line" />
          <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
            <%= devise_error_messages! %>
            <div class="field">
              <%= f.text_field :name, autofocus: true, placeholder: "ユーザー名", class: 'input-default', id: 'name' %>
            </div>
            <div class="field">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: 'input-default', id: "email" %>
            </div>
            <div class="field">
              <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード(6文字以上の半角英数字)", class: 'input-default', id: "password" %>
            </div>
            <div class="field">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード（確認用）", class: 'input-default', id: "password_confirmation" %>
            </div>
            <div class="actions">
              <%= f.submit "登録", class: "submit" %>
            </div>
            <hr class="border-line" />
            <div class="transition">
              <%= link_to "アカウントをお持ちの方", new_user_session_path, class: "login" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>  
  </div> 
</div>
