<div class='bg-image'>
  <div class='bg-mask'>
    <div class='space'>
      <div class='new-post'>
        <%= link_to 'Post Edit', user_path(@post.user.id), class: 'edit-post-name'%>
        <hr class="border-line" />
        <%= form_with model: @post, url: post_path, local: true do |f| %>
          <%= render partial: 'shared/error_messages', locals: {model: f.object} %>
          <div class='category-select'>
            <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select_box", id:"post_select"}) %>
            <%= f.text_field :place_name, autofocus: true, placeholder: "例）カフェ・レジャー施設", class: "place-name" %>
          </div> 
          <div class='image-text'>
            <div class='file-upload'>
              <%= f.file_field :image, class: "post-image" %>
            </div>
            <%= f.text_area :text, class: "post-text" %>
          </div>
          <div class="actions">
            <%= f.submit "共有する", class: "submit" %>
          </div>
        <% end %>
      </div>
    </div>  
  </div> 
</div>