<div class='background-image1'>
  <div class='top-mask'>
    <%= render 'shared/header' %>
    <div class='newest-post'> 
      <div class='category1'>  
        <%= link_to 'Restaurants', restaurants_path, class: 'category-name1' %>  
      </div>
      <hr class="border" /> 
      <div class='slider'>
        <% @restaurants.each do |restaurant| %>        
          <%= image_tag restaurant.image, class: 'post-img' %> 
        <% end %>
      </div> 
    </div>
  </div>
</div>  
  
<div class='background-image2'>
  <div class='top-mask'>
    <div class='blank'>
      <div class='newest-post2'> 
        <%= link_to 'shops', shops_path, class: 'category-name' %>
        <hr class="border" />
        <div class='slider'>
          <% @shops.each do |shop| %>
          <%= image_tag shop.image, class: 'post-img' %>      
        <% end %>
     </div>
    </div>
  </div>
</div> 

<div class='background-image3'>
  <div class='top-mask'>
    <div class='blank'>
      <div class='newest-post2'> 
        <%= link_to 'spots', spots_path, class: 'category-name' %>
        <hr class="border-line" />
        <div class='slider'>
          <% @spots.each do |spot| %>        
          <%= image_tag spot.image, class: 'post-img' %>
        <% end %>
      </div>
    </div> 
  </div>
</div>  

