<%= render 'shared/header' %>

<%#<div class='main-top'>%>
  <div class='newest-post'> 
    <%= link_to 'restaurant', restaurants_path, class: 'category-name' %>
    <hr class="border" />
  
    <div class='slider'>
      <% @restaurants.each do |restaurant| %>        
        <%= image_tag restaurant.image, class: 'post-img' %> 
        <%#<%= link_to restaurant.user.name, user_path(restaurant.user.id) %>
        <%#<%= restaurant.place_name %>   
      <% end %>
    </div>  
  </div> 
<%#</div>   

<%#<div class='main-top'>%>
  <div class='newest-post'> 
    <%= link_to 'shop', shops_path, class: 'category-name' %>
    <hr class="border" />
    
    <div class='slider'>
      <% @shops.each do |shop| %>
      
        <%= image_tag shop.image, class: 'post-img' %>
        <%#<%= shop.place_name %>
        <%#<%= link_to shop.user.name, user_path(shop.user.id) %>
        
      <% end %>
    </div>
  </div> 
<%#</div>   

<div class='main-top'>
  <div class='newest-post'> 
    <%= link_to 'spot', spots_path, class: 'category-name' %>
    <%#<hr class="border-line" />%>

    <div class='slider'>
      <% @spots.each do |spot| %>
        <%#<%= link_to spot.user.name, user_path(spot.user.id) %>
        <%#<%= spot.place_name %>
        <%= image_tag spot.image, class: 'post-img' %>
      <% end %>
    </div>
  <%#</div> 
</div>   